/*general styling*/
html {
  color: white;
  font-family: 'Arial';
  background: rgb(31,31,31);
  align-items: center;
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

.logo-img{
  transition: transform 500ms cubic-bezier(.24,2.54,.2,.86);
}

.logo-img:hover {
  transform: translate(0, -10px);
}

body  {
  padding: 0 !important;
  margin: 0 !important;
  font-family: Helvetica, sans-serif;
}

section {
  padding: 10px 10px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

h1 {
  font-size: 72pt;
  text-align: center;
  font-family: sans-serif;
}

h2 {
  font-size: 54pt;
  text-align: center;
  font-family: sans-serif;
}

h3 {
  margin-bottom: 0.5%;
  font-size: 36pt;
  padding-left: 3%;
}

h4 {
  margin: 0%;
  font-size: 26pt;
  padding-left: 0%;
}

ul{
  padding-inline-start: 0;
}
/*handles aside tag with the rounded gray borders*/
.clarity__aside {
  border-radius: 2em;
  padding: 2em 2em;
  margin: 2em 2em;
  float: right;
  font-style: italic;
  padding-top: 2em;
  background-color: rgb(104, 104, 104);
}

/*handles table with opening hours*/
.openingstijden *, .openingstijden{
  border: none;
  border-collapse: collapse;
  color: #000000;
  padding: 5px 20px
}
.openingstijden th {
  padding-bottom: 15px;
}


/*navigation bar styling*/
#navbar {
  height: 46px;
  width: 100%;
  overflow: hidden;
  background-color: #970B1F;
  border: 0;
  top: 0;
  position: fixed;
  box-shadow: 0px 9px 15px rgb(0,0,0,0.5);
  z-index: 69;
}

.nav__inactive {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: #970B1F;
  transition: 0.3s;
}

.nav__inactive:hover {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: #53000d;
}

.nav__inactive--res {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  transition: 0.3s;
  background-color: #383838;
}

.nav__inactive--res:hover {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: #202020;
}

.nav__active {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: #53000d;
}

.nav__active--res {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: #202020;
}

.nav__active--acc {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: #202020;
}

.nav__inactive--acc {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  transition: 0.3s;
  background-color: #383838;
}

.nav__inactive--acc:hover {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: #202020;
}

/*banner styling*/
.banner {
  height: 15em;
  width: 100%;
  padding-top: 3.5%;
  background-position: 0 -20em;
  object-fit: cover;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.fiveguys.nl/-/media/public-site/images/fg-five-guys-story-hero.ashx?h=866&w=1800&la=en-NL&hash=CAB39471D14A4E2974C6A60A9483B8C9");
}

/*reservation page styles*/
.res__container {
  background: #444444;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 40%;
  margin: auto;
  margin-top: 7%;
  margin-bottom: 10%;
  padding-bottom: 10%;
  box-shadow: 10px 9px 15px #0c0c0c;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email__form {
	width: 100%;
	align-items: center;
}
input {

  height: 25px;
  border-radius: 20px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 0;
}

.form__input--naam {
  margin: 20px;
}

.form__input--time {
padding-top: 10px;
}
.form__input--email {
  align-items: center;
  width: 90%;
}
.form__input--email input {
  position: relative;
  width: 100%;
}

.form__input--date {
  align-items: center;
  position: relative;
  width: 60%;
}

.form__input--date input {
  position: relative;
  align-items: center;
  width: 100%;
}

.form__input--tijdslot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150%;
  margin-top: 2%;
  margin-bottom: 10%;
}

.reserveer__knop {
  border: 0;
  color: white; 
  background: #970B1F;
  padding: 7px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
  transform: scale(1);
  transition: transform 500ms cubic-bezier(.24,2.54,.2,.86);
}
.logknop {
  border: 0;
  color: white; 
  background: #970B1F;
  padding: 7px;
  padding-bottom: 25px;
  border-radius: 20px;
  transform: scale(1);
  transition: transform 500ms cubic-bezier(.24,2.54,.2,.86);
}
.logknop:hover {
  background: #680707;
  transform: scale(1.2);
}

.reserveer-button--container a {
  text-decoration: none;
}

.reserveer__knop:hover {
  background: #680707;
  transform: scale(1.2);
}

/* Menu styling */
.hoverable { /*class of div containing the hoverable image*/
  position: relative;
  width: 25%;
  align-items: center;
  filter: drop-shadow(4px 10px 0px rgb(22, 22, 22));
}

.hovbase { /*class of image */
  align-items: center;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .3s ease;
  backface-visibility: hidden;
}

.hovonhover {/*class of div containing textbox */
  display: inline;
  transition: .3s ease;
  width: 60%;
  opacity: 0;
  position: absolute;
  text-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hovtext { /*textbox*/
  color: white;
  font-size: 16px;
  filter: drop-shadow(1px 1px 2px rgb(22, 22, 22));
}

.hoverable:hover .hovbase {
  opacity: 0.3;
  transform: scale(1.1);
}

.hoverable:hover .hovonhover {
  opacity: 1;
}

.menuTable tr {
  overflow-x: auto;
}

.menuTable td {
  padding: 35px;
}

.menuTable img {
  border-radius: 30%;
}

/*menu navigation button styling*/
.menu__buttons {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin-left: 50px;
  margin-top: 20px;
  background-color:#970B1F;
  border-radius: 5%;
}
.menu__buttons:hover {
  background: #680707;
}

.menu__kopjes {
  font-size: 40px;
  font-weight: bold;
  margin-left: 3%;
  padding:0;
}

.menu__buttons--wrapper {
  padding-top:4%;
  padding-bottom: 4%;
  
}

.menu__kopjes--returnbutton {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 2%;
  background-color:#970B1F;
  border-radius: 20%;
  filter: drop-shadow(2px 5px 2px rgb(22, 22, 22));
}

.menu__kopjes--returnbutton:hover {
  background: #680707;
}

/* Footer styling */
footer {
  align-items: center;
  margin-top: 80px;
  padding-top: 10px;
}

footer ul li {
  padding: 0 20px;
  display: inline;
}

footer > * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}

footer a:link {
  color: white;
}
footer a:visited {
  text-decoration: none;
  color: rgb(80, 80, 80);
}

footer {
  align-items: center;
  height: auto;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  color: white;
  background-color: #292929;
  background-size: cover;
}

.jottemjagers--text {
  margin-top: 700px;  
  margin-bottom: 30%;
}
.nix18{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: auto;
}

.social-media-icons {
  width: 50px;
  height: auto;
}

/* image gallery */
ul.images {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 550px;
  overflow-x: auto;
  background-color: #ddd;
}
ul.images li {
  display:inline-flex;
  width: 700px;
  height: 500px;
  object-fit: cover;
}

/* index page styling */
.fadein {
width: 100%;
}

.fadein img {
  position:absolute;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  width: 36%;
  height: auto;
  margin-left: 5%;
  border-radius: 12%;
}

.index--actiesection {
  padding-top: 5%;
  align-items: center;
  margin-bottom: 40%;
}

.jottemjagers {
  width: 100%;
}

.jottemjagers--image {
  float:left;
  width: 45%;
  border-radius: 12%;
}

.image__scroll--wrapper {
  overflow: hidden;
  display: flex;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  border-radius: 5%;
}

.image__scroll--wrapper div {
  height: 400px;
  min-width: 500px;
  max-width: 500px;
  margin-left: 0px;
  animation: slide 15s linear infinite;
}

/*all used animation keyframes*/
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes slide {
  0% {transform: translate3d(0, 0, 0);}
  100% {transform: translate3d(-1500px, 0, 0);}
}

/*animation settings  of fading images*/
#f2 {
  animation-delay: -6s;
}
#f3 {
  animation-delay: -3s;
}

#f5 {
  animation-delay: -6s;
}
#f6 {
  animation-delay: -3s;
}

/*Customizable appearance*/
.styleMachine {
  background-color: #53000d;
  padding: 20px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 280px;
}

.darkTheme {
  color: white;
}

.lightTheme {
  color: black;
}

.trueDarkTheme {
  color: white;
  background-color: black;
}

section.trueDarkTheme {
  background-color: #1f1f1f;
}

section.lightTheme {
  background-color: #d8d8d8;
}

footer.trueDarkTheme {
  background-color: #292929;
}

footer.lightTheme {
  background-color: #b9b9b9;
}

/*TODO naming*/

.Small {
  font-size: x-small;
}

.Normal {
  font-size: medium;
}

.Large {
  font-size: x-large;
}

.Category {
  background-color: rgb(55, 55, 55);
  border-radius: 30px;
  padding: 40px;
  margin: 20px;
}

.Item {
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  padding: 20px;
  align-items: center;
  margin: 5px;
}
.Item:hover {

  background-color: rgb(75, 75, 75);
}


.MenuImg {
  height: 10em;
  width: auto;
  border-radius: 20px;
  vertical-align: middle;
  margin: 20px;
}

.Menu {
  float:left;
}

.bucketList {
  float: right;
  background-color: #111111;
  border-radius: 30px;
  margin: 20px;
  align-content: center;
  font-size: large;
  padding: 20px;
  font-weight: bolder;
  width: 23%;
  align-items: center;
  text-align: center;
  color: white;
}

.Item_Button {
  display: block;
  background-color: #970B1F; 
  border-radius: 15px;
  border: 0px;
  transform: scale(1);
  padding: 10px;
  margin: 20px 5px;
  transition: transform 500ms cubic-bezier(.24,2.54,.2,.86);
  font-weight: bold;
}

.Item_Button:hover {
background-color: #680707;
transform: scale(1.2);
}

.bucketList text {
  align-self: center;
}

.Order_Button {
  color:#ffffff;
  display: block;
  background-color: #970B1F; 
  border-radius: 15px;
  border: 0px;
  transform: scale(1);
  padding: 10px;
  margin: 40px;
  transition: transform 500ms cubic-bezier(.24,2.54,.2,.86);
  font-weight: bold;
  }

.Order_Button:hover {
  background-color: #680707;
  transform: scale(1.2);
}

/*:D*/

.HistoryItem {
  background-color: #970B1F;
  padding: 10px;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  margin: 10px auto;
}

.HistoryItem table, td, tr, th {
  border-collapse: collapse;
}

.HistoryItem td {
  padding: 5px 30px;
  text-align: right;
}

.HistoryItem table {
  min-width: 500px;
}